.pagination {
  margin-left: 40%;
  display: flex;
  align-items: center;
}
.pages{
  list-style-type: none;
  display: flex;  
}
.numbers {
  margin-right: 2px;
}
.number-btn {
  background-color: white;
  border: 0px;

}
.number-btn:focus, .number-btn:default {
  border: 0.5px solid black ;
  background-color: grey;
  border-radius: 50%;
}

.left {
  margin-right: -30px;
}

@media (max-width:850px) {
  .pagination {
    margin-left: 10%;
  }
  
}