.card-body {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.card-time {
  font-size: small;
}
.card-title {
  font-size: larger;
}
.readtime-box{
  display: flex;
}
.card-type {
  font-size: small;
}
.card-like {
  margin: 2% auto;
}
.hr {
  margin: 2% 0 5%;
}