.card-heading {
  font-weight: 200;
  font-size: small;
}
.card-title {
  font-size: 36px;
  margin: 25px 0;
}

.card-time {
  display: flex;
}

.card-reading {
  margin-right: 10px;
}
.clock {
  width: 2%;
  margin:0 5px;
}
.head {
  display: flex;
}