.footer {
  margin-top: 10%;
  background-image: url(../../assets/img/footer.png);
  color: #fff;
  display: flex;
  justify-content: space-around;
  padding-right: 15%;
}
.footer-title {
    font-size: 24px;
  margin-left: 40px;
}

.footer-list {
  list-style-type: none;

}
.textbox {
  text-align: left;
}
.footer-list-item {
  margin-bottom: 5%;
  text-align: left;
}



@media (max-width: 950px) {
  
  .footer {
    padding-left: 5%;
    align-items: flex-start;
    text-align: left;
    display: block;
    padding-top: 30px;
    padding-bottom: 20px;

  }
  .footer-logo {
    margin-left: 40px;
  }
  .footer-title {
    font-weight: 900;
    margin: 5% 0;
    margin-left: 40px;

  }
  .footer-list-item {
    font-weight: 200;
  }
  
}